[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rbokeh"]
	path = rbokeh
	url = https://github.com/bokeh/rbokeh
	shallow = true
	registered = true
